/****************************************
* styles pour affichage masonry test 1 
* avec jquery masonry
****************************************/

.pp-container {
	margin: 5px;
	width: 100% ;
}

/* Makes two columns */
.pp-item {
	width: 30%;
	border: #ddd solid 2px ;
	margin-bottom: 15px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #f6f6eb;
	/* padding: 1%; */
	/* -ms-transform: skewX(-5deg); /* IE 9 */
    /* -webkit-transform: skewX(-5deg); /* Safari */
    /* transform: skewX(-5deg); /* Standard syntax */
}

.gutter-sizer {
	/* see http://codepen.io/desandro/pen/BAJKn */
	/* will not change using the inspector in the navigator */
	width: 1.2%;
}

.pp-item header {
	
}

.pp-item .entry-summary {
	font-size: 85%;
    line-height: 1.4;
	padding: 0 5px 5px 5px;
}

.pp-item .entry-meta{
	margin-bottom: 5px;
	
}

.pp-item article {
	margin-bottom: 2px;
	padding-bottom: 5px;
}

.pp-item .entry-title a {
    text-decoration: none;
	color: #fa5c5d ;
	font-size: 70%;
    display: inline-block;
	padding: 8px;
}

.pp-item  h3.entry-title  {
	margin-bottom: 6px;
    margin-top: 6px;
    line-height: 1.4;
	font-weight: 600;
}

.pp-item .thumbnail {
	max-width: 100% ;
	margin: 0 ;
	max-height: 100%;
    float: none;
}


.pp-item article a img {
	padding: 0 ;
    background: none ;
    border: none ;
	border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	margin-bottom: 1%;
}

.pp-item .categories {
	background-color: #fa5c5d;
	border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
	padding: 8px;
}


.pp-item .categorie > span > a {
	color: #f6f6eb;
	font-size: 90%;
	font-weight: 600 ;
	text-decoration: none;
	font-variant: small-caps;
}

.pp-item .categorie > span > a::after {
	content: "\f061";
	font-family: FontAwesome;
	color: #f6f6eb;
	margin-left: 6px;
	margin-right: 6px;
}

.pp-item .categories:hover,
.pp-item .categorie > span > a:hover,
.pp-item .categorie > span > a:hover::after {
	color: #fa5c5d ;
	background-color: #f6f6eb;
}

.pp-item .categorie  {
	position: relative;
    top: -20px;
}
	

.pp-item .entry-byline {
    margin-bottom: 2%;
    margin-left: 1%;
}



/****************************************
* styles pour les essais de couleur
****************************************/

.col-2 {
	display: inline-block;
	padding: 8px;
	border: 2px solid #ddd;
	width: 100%;
    margin-bottom: 10px;
}

.column {
	display: inline-block;
    width: 45%;
    float: left;
    margin-left: 10px;
    padding: 10px;
}


/****************************************
* styles pour affichage flexbox
* genre masonry
* http://demosthenes.info/blog/854/Easy-Responsive-Grid-Layout-With-Flexbox
* http://demosthenes.info/blog/825/Pinterest-Style-Column-Layout-In-Pure-CSS
****************************************/


#masonry {

}


#got-gridbox {
	column-width: 320px;
	column-gap: 15px;
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

#got-gridbox figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px; padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
	column-break-inside: avoid;
	display: inline-block;
}

#got-gridbox figure img { 
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

#got-gridbox figure:nth-child(even) img { 
	/* float: right; */
}

div#got-gridbox:hover figure:not(:hover) { opacity: 0.4; }

@media screen and (max-width: 750px) {
#got-gridbox { column-gap: 0px; }
#got-gridbox figure { width: 100%; }
}


/*
#got-gridbox .entry-summary {
	font-size: 85%;
    line-height: 1.4;
	padding: 0 5px 5px 5px;
}

#got-gridbox .entry-meta{
	margin-bottom: 5px;
	
}

#got-gridbox .entry-title a {
    text-decoration: none;
	color: #fa5c5d ;
	font-size: 70%;
    display: inline-block;
	padding: 8px;
}

#got-gridbox  h3.entry-title  {
	margin-bottom: 6px;
    margin-top: 6px;
    line-height: 1.4;
	font-weight: 600;
}

#got-gridbox .categories {
	background-color: #fa5c5d;
	border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
	padding: 8px;
}


#got-gridbox .categorie > span > a {
	color: #f6f6eb;
	font-size: 90%;
	font-weight: 600 ;
	text-decoration: none;
	font-variant: small-caps;
}

#got-gridbox .categorie > span > a::after {
	content: "\f061";
	font-family: FontAwesome;
	color: #f6f6eb;
	margin-left: 6px;
	margin-right: 6px;
}

#got-gridbox .categories:hover,
#got-gridbox .categorie > span > a:hover,
#got-gridbox .categorie > span > a:hover::after {
	color: #fa5c5d ;
	background-color: #f6f6eb;
}

#got-gridbox .categorie  {
	position: relative;
    top: -20px;
}
	

#got-gridbox .entry-byline {
    margin-bottom: 2%;
    margin-left: 1%;
}

*/
