/****************************************************
* masonry styles
* source http://w3bits.com/css-masonry/
****************************************************/

.masonry {			/* Masonry container */
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {				/* Masonry bricks or child elements */
    display: inline-block;
    background: #fff;
    padding: 0;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 1px 1px 2px 0 #ccc;
}

/* responsive masonry  */

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 760px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

	.flexbox-list {		/* sidebar must have space */
		float: left;
		width: 63.265%;
		margin-top: 15px;
	}
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1280px) {
    #container {
        max-width: 1260px !important ;
    }
	
	.flexbox-list {		/* sidebar must have space */
		float: left;
		width: 74.265%;
		margin-top: 15px;
	}
	
	#sidebar-primary, .layout-2c-l #sidebar-secondary {
		float: right;
		width: 24.63% !important;
	}
	
}

/* style items */

.item pre {
    white-space: pre-wrap;
	padding: 5px;
}

.item figure {
	/* background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	*/
	margin: 0 0 15px;
	padding: 0; 
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
	column-break-inside: avoid;
	display: inline-block;
}

.item figure img { 
	width: 100%; height: auto;
	/* border-bottom: 1px solid #ccc; */
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.item a img {
    padding: 0; 
    background: none; 
    border: none ;
}

div.item:hover figure:not(:hover) { 
	opacity: 0.4; 
}

.item .entry-summary {
	font-size: 95%;
    line-height: 1.4;
	padding: 0 5px 5px 5px;
}

.item .entry-meta{
	margin-bottom: 5px;
	
}

.item .entry-title a {
    text-decoration: none;
	color: #fa5c5d ;
	font-size: 85%;
    display: inline-block;
	padding: 8px;
}

.item  h3.entry-title  {
	margin-bottom: 6px;
    margin-top: 6px;
    line-height: 1.4;
	font-weight: 600;
}

.item .categories {
	background-color: #fa5c5d;
	border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
	padding: 8px;
}

.item .categorie > span > a {
	color: #f6f6eb;
	font-size: 110%;
	font-weight: 600 ;
	text-decoration: none;
	font-variant: small-caps;
}

.item .categorie > span > a::after {
	content: "\f061";
	font-family: FontAwesome;
	color: #f6f6eb;
	margin-left: 6px;
	margin-right: 6px;
}

.item .categories:hover,
.item .categorie > span > a:hover,
.item .categorie > span > a:hover::after {
	color: #fa5c5d ;
	background-color: #f6f6eb;
}

.item .categorie  {
	position: relative;
    top: -40px;
}
	

.item .entry-byline {
    margin-bottom: 2%;
    margin-left: 1%;
}


/***********************************************************
* style featured area
***********************************************************/

.feature {
	border: 2px red solid;
    height: 250px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 9px;
}


/****************************************************
* horizontal items in masonry styles
* source http://w3bits.com/css-masonry/
****************************************************/

.hor-masonry {			/* Masonry container */
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    font-size: .85em;
}

.hor-item {				/* Masonry bricks or child elements */
    display: inline-block;
    background: #fff;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 1px 1px 2px 0 #ccc;
	border: 2px dotted #fa5c5d;
    padding: 4px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

/* responsive masonry  */

@media only screen and (min-width: 400px) {
    .hor-masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 760px) {
    .hor-masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

	.flexbox-horizontal {		/* sidebar must have space */
		float: left;
		width: 63.265%;
		margin-top: 15px;
	}
}

@media only screen and (min-width: 900px) {
    .hor-masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1100px) {
    .hor-masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1280px) {
    #container {
        max-width: 1260px !important ;
    }
	
	.flexbox-horizontal {		/* sidebar must have space */
		float: left;
		width: 74.265%;
		margin-top: 15px;
	}
	
	#sidebar-primary, .layout-2c-l #sidebar-secondary {
		float: right;
		width: 24.63% !important;
	}
	
}

/******************************************************
* horizontal style test 
* http://alistapart.com/article/css-shapes-101
* http://codepen.io/SaraSoueidan/pen/af3d2ae9fbe4205035822e4878fb1f54/
******************************************************/

.demo {
  margin: 50px auto;
  width: 100%;
  font-family: "Open Sans";
}

.hor-item footer {
  background-color: #eee;
  text-align: center;
  padding: 1em;
}
.user-profile img {
  height: 150px; 
  width: auto;
  float: left; 
  border-radius: 50%; 
  margin-right: 15px;
  -webkit-shape-outside: circle(35%);
  -webkit-shape-margin: 15px;
  shape-outside: circle(35%);
  shape-margin: 15px;
  clip-path: circle(45%);
  transition: shape-outside 1s;
}

.user-profile img:hover{
	-webkit-shape-outside: circle(45%);
	-webkit-shape-margin: 1px;
	shape-outside: circle(45%);
    shape-margin: 1px;
    height: 170px;
    width: auto;
}

/* style items */

.hor-item pre {
    white-space: pre-wrap;
	padding: 5px;
}

.hor-item  img { 
	  height: 150px; 
	  width: auto;
	  float: left; 
	  border-radius: 50%; 
	  margin: 5px 15px 5px 0 ;
	  -webkit-shape-outside: circle(40%);
	  -webkit-shape-margin: 10px;
	  shape-outside: circle(40%);
		shape-margin: 10px;
	  clip-path: circle(35%);
	  transition: shape-outside 1s;
}

.hor-item img:hover{
	-webkit-shape-outside: circle(45%);
	-webkit-shape-margin: 1px;
	shape-outside: circle(45%);
    shape-margin: 1px;
    height: 170px;
    width: auto;
}

.hor-item a img {
    padding: 0; 
    background: none; 
    border: 1px solid #fa5c5d;
}

.hor-item .entry-summary {
	font-size: 95%;
    line-height: 1.4;
	padding: 0 5px 5px 5px;
}

.hor-item .entry-meta{
	margin-bottom: 5px;
	
}

.hor-item .entry-title a {
    text-decoration: none;
	color: #fa5c5d ;
	font-size: 85%;
	padding: 0;
}

.hor-item  h3.entry-title  {
	margin-bottom: 6px;
    margin-top: 6px;
    line-height: 1.4;
	font-weight: 600;
}

.hor-item .categories {
	background-color: #fa5c5d;
	border-radius: 15px 0 0 15px;
	-moz-border-radius: 15px 0 0 15px;
	-webkit-border-radius: 15px 0 0 15px;
	padding: 8px;
	float: right;
	margin-right: -10px;
}

.hor-item .categories  a {
	color: #f6f6eb;
	font-size: 110%;
	font-weight: 600 ;
	text-decoration: none;
	font-variant: small-caps;
}

.hor-item .categories a::after {
	content: "\f061";
	font-family: FontAwesome;
	color: #f6f6eb;
	margin-left: 6px;
	margin-right: 6px;
}

.hor-item .categories:hover,
.hor-item .categories a:hover,
.hor-item .categories a:hover::after {
	color: #fa5c5d ;
	background-color: #f6f6eb;
}

.hor-item .entry-byline {
	display:inline-block;
    line-height: 45px;
    height: 45px;
	margin-bottom: 0 !important;
    margin-left: -15px;
}

.hor-item .entry-byline::before{
   content: '';
   display: inline-block;
   height:45px;
   width:30px;
   border-radius: 0 50px 50px 0;
   -moz-border-radius: 0 50px 50px 0;
   -webkit-border-radius: 0 50px 50px 0;
   background-color: #fa5c5d;
    vertical-align: bottom;
    margin-right: 10px;
}

