/**
 * Theme Name:  Parcours-Performance (child of Clea Base)
 * Theme URI:   
 * Description: Un thème pour un site "impact"
 * Version:     1.0.0
 * Author:      Anne-Laure Delpech
 * Author URI:  http://parcours-performance.com
 * Tags:        
 * Text Domain: 
 * License:     GNU General Public License v2.0 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Template:    clea-base
 */
 
 
/*****************************************************
*
* Header
*
******************************************************/
.ald-unique-logo a img {
  float: left;
}

#site-description {
	margin-left: 20px;
    float: left;
    max-width: 55%;
    margin-left: 30px;
    font-size: larger;
    font-family: handlee, cursive !important;
    color: #263238;
}

@media only screen and (min-width: 760px) {
	#menu-secondary >.wrap {
	  width: 95% ;
	}

	#header {
	   min-height: 115px;  
	}

	.top-search {
	  display: none;
	}

	#sidebar-header {
		margin-top: 10px;
	}
}



#menu-primary {
  margin: 1px auto -35px;
}

/********************************************************** 
réglage couleurs
***********************************************************/
/* bon choix de background discret et joli
brushed-alum-dark.png
climpek.png
retina-wood.png
stressed-linen.png
*/

body.custom-background {
    background-image: url('images/retina-wood.png') !important;
}

#menu-primary li li:hover,
#menu-primary li li:hover > a,
#menu-primary li a:hover, 
#menu-primary li:hover > a, 
#menu-primary li.current-menu-item > a,
#menu-secondary-has-children li a {
	background-color: #660bab ;
	text-decoration: none;
	
}

/* élimine le background défectueux des menus avec enfants ! */
#menu-secondary {
	background: #660bab !important ;
	border: 1px solid #660bab; 
}
#menu-secondary li a:hover, 
#menu-secondary li:hover >a, 
#menu-secondary li a:active,
#menu-secondary li.current-menu-item >a {
	background: #f6f6eb !important ;
	color: #660bab;
}
/* FIN élimine le background défectueux des menus avec enfants ! */

#menu-subsidiary {
	background: transparent;
	border: none;
}

#menu-subsidiary ul {
  float: right;
}

#menu-subsidiary li {
	border: #660bab 1px solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-right: 3px;
}

#menu-subsidiary li a {
	color: #263238;
	background: transparent;
	border-right: none;
}

#menu-subsidiary li a:hover, 
#menu-subsidiary li.current-menu-item a {
	background-color: #660bab;
	color: #ffcc00 ;
}

#footer a {
	color: #263238 !important;
}

.page-numbers.current, 
a.page-numbers:hover {
	background-color: #ffcc00 ; 	/* secondary color */
	color: #660bab !important; 		/* primary color */
}
 
.page-numbers, 
.page-links a, 
.loop-nav a {
	background-color: #f6f6eb ; 	/* primary color */
	color : #660bab; 				/* secondary color */
}

/* responsive
****************************************/

@media only screen and (min-width: 760px) {
	
	#sidebar-subsidiary .widget {
		margin: 0 0.9% 0 0 !important
	}

}

/* primary / secondary sidebar
****************************************/
	
#sidebar-secondary ,
#sidebar-primary  {
	margin-top: 15px;
    border: 2px solid #660bab;
    padding: 10px 6px;
    border-radius: 15px; 
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
}

#sidebar-secondary .widget,
#sidebar-primary .widget {
	border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 8px;
    margin-bottom: 8px;
    background: #f6f6eb;
}


#sidebar-secondary .widget-title,
#sidebar-primary .widget-title {
    padding: 5px;
    font-size: 1.125rem;
    color: #660bab;
    background: none;
    border-bottom: 1px dotted #ffcc00;
	font-variant: small-caps;
    font-weight: 600;
    text-align: center;
    text-align: -webkit-center;
}

.widget-search input[type="text"] {
     color: #f6f6eb;
    background: #f6f6eb;
    border: 2px solid #660bab;
	border-right: none ;
}

.widget-search input[type="submit"] {
    background-color: #660bab;
	height: 41px;
   border: 2px solid #660bab;
	border-left: none ;   
}

.widget-search input[type="submit"]::before {
	content: "\f09b";
	font-family: FontAwesome;
	color: #ffcc00;
}

/* subsidiary sidebar
****************************************/
	
#sidebar-subsidiary .widget {
	border: 2px solid #660bab;
    padding: 2% 1%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}


#sidebar-subsidiary .widget-title {
    padding: 5px;
    font-size: 1.125rem;
    color: #660bab;
    background: none;
    border-bottom: 1px dotted #ffcc00;
	font-variant: small-caps;
    font-weight: 600;
    text-align: center;
    text-align: -webkit-center;
}


/*******************************************************
* mise en page 
* résultat sur http://testal.parcours-performance.com/test-mise-en-page/
*******************************************************/

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

h1, h2, h4, h6 {
    color: #660bab;
}

h1 {
	text-transform: uppercase;
}

h2 {
	margin: 25px 0;
}

h2, h3, h4 {
	font-variant: small-caps;
    font-weight: 600 !important;;
}

h5, h6 {
	font-variant: small-caps;
	border-bottom: 1px solid #78909C ;
	padding-bottom: 7px;
}

blockquote{
	display:block;
	background: #fff;
	padding: 15px 20px 15px 50px;
	margin: 0 0 30px;
	position: relative;
  
	/*Font*/
	font-size: 95%;
	text-align: justify;
	font-family: 'Handlee', cursive;
  
	/*Borders - (Optional)*/
	border-left: 2px solid #660bab;
	border-right: 2px solid #660bab;
  
	/*Box Shadow - (Optional)*/
	-moz-box-shadow: 2px 2px 15px #78909C;
	-webkit-box-shadow: 2px 2px 15px #78909C;
	box-shadow: 2px 2px 15px #78909C;
}

blockquote::before{
	content: "\f10e";
    
	/*Font*/
	font-family: FontAwesome;
    font-size: 25px;
    font-weight: normal;
    color: #660bab;
	/*Positioning*/
    position: absolute;
    left: 10px;
    top: 20px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote p {
	margin-bottom: 10px;
}

blockquote cite {
	color: #263238;
}
    
.pp-pullquote {
	/*Borders - (Optional)*/
	border-top: 2px solid #660bab;
	border-bottom: 2px solid #660bab;
	border-right: none !important;
	color: #660bab;
	padding: 2% !important;
    font-size: 85%;
    line-height: 1.6;
	background-color: #f6f6eb;
  
	/*Box Shadow - (Optional)*/
	-moz-box-shadow: 2px 2px 15px #78909C;
	-webkit-box-shadow: 2px 2px 15px #78909C;
	box-shadow: 2px 2px 15px #78909C;	
}

.pp-pullquote::before{
	content: "\f08d";
    
	/*Font*/
	font-family: FontAwesome;
    font-size: 25px;
    font-weight: normal;
	color: #660bab;
    margin-right: 5px;
    display: inline-block;
    -webkit-transition: all 300ms 0s ease-in-out;
    transition: all 300ms 0s ease-in-out;
	-webkit-transform: rotate(380deg);
    transform: rotate(380deg);
}

.pp-pullquote::after{
  /*Reset to make sure*/
  content: "";
}


th, td, table {
    border: none !important;
}

thead {
	border-bottom: 2px solid #78909C;
}

tbody, 
tbody tr {
	border-bottom: 1px solid #78909C;
	font-weight: normal;
}

.entry-content a {
    color: #660bab !important;
	text-decoration: underline;
}

.entry-content a:hover {
    font-weight: 600;
	font-variant: small-caps;
}

a:visited {
	color: #ffcc00;
	text-decoration: underline;
}

/* bullet points */
/* bullets replaced with a font awesome icon */

#content ul {
  list-style-type: none;
  padding-left: 20px;
  margin: 0 0 15px 0.5em;
}

#content ul li {
  position: relative;
  padding-left: 20px;
}

#content li {
  margin-bottom: 10px
}

#content ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  content: "\f138";  /* \f046  */
  color: #660bab;
}

#toc_container.no_bullets li:before,
#toc_container.no_bullets ul li:before {
	/* no styled bullets in table of content */
	position: absolute;
	top: 0;
	left: 0;
	font-family: FontAwesome;
	content: "";  /* \f046  */
	color: #660bab;
}

/* same for nested lists */
#content ul li li {
  position: relative;
  padding-left: 20px;
}

#content li li {
  font-size: 95%;
  line-height: 1;
}

#content ul li li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  content: "\f046";  /* \f138  */
  color: #660bab;
}

#content li li:first-child {	/*first li */
  margin-top: 10px;
}

abbr[title], time[title], acronym[title] {
    background-color: #f6f6eb;
}

/* Réglage des images */
	figure {
		padding: 5px ;
		border: 1px solid #660bab ;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		overflow: hidden;
	}

	figure img, 
	figure.alignnone,
	img {
		padding: none !important;
		border: none !important;
	}


	img {
		background: none !important;
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
	}

	img.alignleft, 
	img.alignright,
	img.aligncenter {
		padding: 5px !important;
		border: 1px solid #660bab !important ;
	}

	figcaption {
		width: 100% !important;
		background: none !important;
		font-style: italic;
		text-align: center !important;
		position: static !important;
		margin: 0 !important;
		padding: 0 !important;
		opacity: 1 !important;
		color: #660bab !important;
		font-size: 0.95rem !important;
	}

	a:hover img, a:hover .avatar {
		box-shadow: none;
		-webkit-animation: tada 1s;
		animation: tada 1s;
		-moz-animation: tada 1s;
		-o-animation: tada 1s;
	}
	
	/* .img-inside est lié à la fonction jquery 
	* qui permet de donner un style différent aux <a> links 
	* selon que <img> inside ou pas */
	.entry-content a.img-inside img {
    /* margin-bottom: -30px; */
	padding: 0;
	}

	.entry-content a.img-inside img.alignleft,
	.entry-content a.img-inside img.alignright,
	.entry-content a.img-inside img.aligncenter {
		margin-bottom: 0;
	}


	.alignnone, {
		margin: 0 !important;
	}
	
	

/* mise en avant */

.pp-forward {
	display: inline-block;
    background-color: #ffcc00;
    color: #660bab;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 3px solid #660bab;
    padding: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.3px;
}
.pp-forward::before{
	content: "\f12a";  /* eye */
    display: inline-block;    
	/*Font*/
	font-family: FontAwesome;
    font-size: 25px;
    font-weight: normal;
	color: #660bab ;
    margin-right: 5px;
	padding: 1.5%;
}

.pp-forward::after{
  /*Reset to make sure*/
  content: "";
}

.pp-alert {
	display: inline-block;
    background-color: #660bab;
    color: #f6f6eb ;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 5px solid #ffcc00;
    padding: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.3px;
}
.pp-alert::before{
	content: "\f06e ";  /* exclamation */
    display: inline-block;    
	/*Font*/
	font-family: FontAwesome;
    font-size: 25px;
    font-weight: normal;
	color: #f6f6eb ;
    margin-right: 5px;
	padding: 1.5%;
}

.pp-alert::after{
  /*Reset to make sure*/
  content: "";
}

.pp-comment {
	display: inline-block;
    background-color: #f6f6eb;
    color: #660bab;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 3px solid #660bab;
    padding: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.3px;
}

.pp-comment::before {
	content: "\f27a";  /*commenting */
    display: inline-block;    
	/*Font*/
	font-family: FontAwesome;
    font-size: 25px;
    font-weight: normal;
	color: #660bab;
    margin-right: 5px;
	padding: 1.5%;
}

.pp-comment::after{
  /*Reset to make sure*/
  content: "";
}

hr {
	background-color: #ffcc00;
    border-top: 3px dashed #660bab ;
}



/*************************************************************
* identifier les liens qui renverront vers un autre onglet 
* 
* <a> links with <img> inside need to be styled differently
* see my codepen test http://codepen.io/aldelpech/pen/jPoMeZ
* code enqueued in functions.php of my child theme
*************************************************************/

	.entry-content a[target="_blank"]::after {
		content: "\f08e";  /* external-link */
		display: inline-block; 
		font-family: FontAwesome;
		font-size: 90%;
		color: #660bab;
		text-decoration: underline;
		width: 17px;
		text-align: right;
	}

	.entry-content a[target="_blank"].img-inside::after {
		content: "";
		display: inline-block; 
	}

	/* Ces réglages provoquent des réglages sur les images également
	* cf plus haut (partie images) */

/**********************************************************
* Page d'accueil
**********************************************************/
/***********************************************************
* style featured area
***********************************************************/

	.feature {
		border: 2px #660bab solid;
		height: 250px;
		margin-bottom: 15px;
		border-radius: 15px;
		padding: 9px;
	}
	
	.bloc-article {				
		display: inline-block;
		background: #fff;
		margin: 0 0 1.5em;
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-shadow: 1px 1px 2px 0 #ccc;
		border: 2px dotted #660bab;
		padding: 4px;
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
	}
	
	/* style items */

	.bloc-article pre {
		white-space: pre-wrap;
		padding: 5px;
	}

	.bloc-article img { 
		  height: 150px; 
		  width: auto;
		  float: left; 
		  border-radius: 50%; 
		  margin: 5px 15px 5px 0 ;
		  -webkit-shape-outside: circle(40%);
		  -webkit-shape-margin: 10px;
		  shape-outside: circle(40%);
			shape-margin: 10px;
		  clip-path: circle(35%);
		  transition: shape-outside 1s;
	}

	.bloc-article img:hover{
		-webkit-shape-outside: circle(45%);
		-webkit-shape-margin: 1px;
		shape-outside: circle(45%);
		shape-margin: 1px;
		height: 170px;
		width: auto;
	}

	.bloc-article a img {
		padding: 0; 
		background: none; 
		border: 1px solid #ffcc00 !important;
	}

	.bloc-article .entry-summary {
		font-size: 95%;
		line-height: 1.4;
		padding: 0 5px 5px 5px;
	}

	.bloc-article .entry-meta{
		margin-bottom: 5px;
		
	}

	.bloc-article .entry-title a {
		text-decoration: none;
		color: #660bab ;
		font-size: 85%;
		padding: 0;
	}

	.bloc-article  h3.entry-title  {
		margin-bottom: 6px;
		margin-top: 6px;
		line-height: 1.4;
		font-weight: 600;
	}

	.bloc-article .categories {
		background-color:  #ffcc00;
		border-radius: 15px 5px 5px 15px;
		-moz-border-radius: 15px 5px 5px 15px;
		-webkit-border-radius: 15px 5px 5px 15px;
		padding: 8px;
		float: right;
		margin-right: -15px;
	}

	.bloc-article .categories  a {
		color: #660bab;
		font-size: 110%;
		font-weight: 600 ;
		text-decoration: none;
		font-variant: small-caps;
	}

	.bloc-article .categories a::after {
		content: "\f061";
		font-family: FontAwesome;
		color: #660bab;
		margin-left: 6px;
		margin-right: 0;;
	}

	.bloc-article .categories:hover,
	.bloc-article .categories:hover a,
	.bloc-article .categories:hover a::after {
		color: #660bab ;
		background-color: #f6f6eb;
	}

	.bloc-article .entry-byline {
		display:inline-block;
		line-height: 45px;
		height: 45px;
		margin-bottom: 0 !important;
		margin-left: -15px;
	}

	.bloc-article .entry-byline::before{
	   content: '';
	   display: inline-block;
	   height:45px;
	   width:30px;
	   border-radius: 10px 50px 50px 10px;
	   -moz-border-radius: 10px 50px 50px 10px;
	   -webkit-border-radius: 10px 50px 50px 10px;
	   background-color: #ffcc00;
		vertical-align: bottom;
		margin-right: 10px;
	}
	
	.home #content.hfeed {
		border-top: none;
	}